.img {
    border-radius: 50%;
    width: 200px;
        height: 200px;
    border: 2px solid black;
    margin-left: 20px;
    transition: transform .8s;
}
.img:hover {
    transform: scale(0.9);
}
body {
    text-align: center;
    background-color: darkblue;
}


#chatbot iframe {
    margin-left: 20px;
}
#chatbot {
    background-color: aqua;
}
#games {
    background-color: blue
}
#apps {
    background-color: darkgreen;
}
h1 {
    font-family: 'Fruktur', cursive;
    letter-spacing: 2px;
    color: orange;
}